*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

.border{
    border: 2px solid red;
}
.pipe{
    color: rgb(238, 237, 237);
    margin: 0 10% ;
}
.navbar{
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logoAndOptions{
    height: 80%;
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 1px;
}

.accountAndLogin{
    height: 80%;
    width: 20%;
}

.busTicketConatiner{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.5rem;
    padding: 6px;
}

.busTicketConatiner:hover{
    background-color: rgb(241, 240, 240);
    border-radius: 1vh;
}

.activeBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.5rem;
    padding: 6px;
    border-radius: 1vh;
    padding: 5px;
    color: white;
    background-color: #d84e55;
}